* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Imagens de Background */

.backgroundOriginalImg, .backgroundOriginalImg1, .backgroundOriginalImg2, .backgroundOriginalImg3, .backgroundOriginalImg4 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundOriginalImg {
    background-image: url('../images/ionas_jorney.jpg');
}

.backgroundOriginalImg1 {
    background-image: url('../images/ionas.png');
    background-position: 50%;
}

.backgroundOriginalImg2 {
    background-image: url('../images/ionas_and_himself.jpg');
}

.backgroundOriginalImg3 {
    background-image: url('../images/ionas_masked.jpg');
}

.backgroundOriginalImg4 {
    background-image: url('../images/ionas_martha.jpg');
}

/* Formatação e Animação Triquetra*/
.imgTriquetra {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    top: 20px;
    width: 150px;
    animation: turn 15s infinite forwards linear;
}

@keyframes turn {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

/* Background Transparência Escura*/

.transparencyArea {
    width: 100%;
    height: 100vh;
    background-color: rgba(13, 13, 13, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Formatação do Título */

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 250;
    text-shadow: 5px 5px 5px #0D0D0D;
    letter-spacing: 50px;
    margin-right: -30px;
    font-size: 12vmax;
    text-align: center;
}

/* Formatação da Área de Pesquisa */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1.5rem;
}

select, #btnSearch, #btnNewSearch {
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(252, 227, 2);
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    font-weight: 200;
    border: 1px solid rgb(252, 227, 2);
}

select, #btnSearch {
    width: 100%;
}

option {
    background-color: #0D0D0D;
    font-weight: 200;
    border: none;
}

label {
    font-size: 1.5rem;
    text-align: center;
}

#btnSearch:hover, #btnNewSearch:hover {
    background-color: #011526;
    color: #F0F2F2;
    border: none;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(240, 242, 242, 0.6);
}

.contentPhrase {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -900px;
    left: 0;
    transition: all 0.5s ease-in-out;
}
.phraseArea {
    padding: 0 10%;
}
.phraseArea p {
    font-size: 5vh;
    margin: 75px 0;
}

.contentPhraseAppers {
    top: 0px;
}

@media only screen and (max-width: 768px) {

    .title {
        margin-right: -50px;
    }

    label {
        font-size: 1rem;
    }

    .imgTriquetra {
        width: 100px;
    }
}